@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');
body {
  margin: 0;
  background: #3f3b6c;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Fredoka One", cursive;
  width: 100%;
  height: 100px;
  font-size: 36px;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 3px black;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0 auto;
  width: 70%;

  height: 300px;
}
.funct_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  width: 100px;
  height: 100px;
  background: gray;
  box-shadow: inset 0px 0px 5px lightblue;

  color: #a3c7d6;

  cursor: pointer;
  transition: 1s all;
}
.input_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  margin: 0 auto;
  width: 600px;
  height: 100px;
}
input {
  margin:0 auto;
  width: 500px;
  height: 30px;
  background: #624F82;
  box-shadow:0px 0px 10px lightblue;
}
.funct_bloc:hover {
  color: white;
  background: orange;
  
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background: #EEF1FF;
  border-radius: 10px;
  box-shadow: 5px 5px #AAC4FF;
  color:#B1B2FF;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Trispace', sans-serif;
}
@media (min-width: 1500px) {
  .button {
    margin-top: -150px;
    margin-left: 900px;
  }
  .input_container {
    margin-top: -100px;
  }
}
@media (max-width: 726px) {
  .input_container {
    margin-top: 200px;
  }
}
@media (max-width: 541px) {
  .input_container {
    margin-top: 400px;
  }
}
@media (max-width: 570px) {
  input {
    width: 400px;
  }
}
@media (max-width: 460px) {
  input {
    width: 120px;
  }
  .input_container {
    height: 70px;
  }
}
